
// Body
$body-bg: #f8fafc;

// Typography
$font-family: "ProximaNova", sans-serif;

$main-header-width: 70px;
$aside-width: 250px;

// Colors
$white: #fff;
$black: #000;
$gray: #f4f4f4;
$main-color: #f6bf00;