@font-face {
  font-family: 'Exo 2.0';
  src: url('/cabinet/fonts/Exo20-Regular.eot'),
  url('/cabinet/fonts/Exo20-Regular.eot?#iefix') format('embedded-opentype'),
  url('/cabinet/fonts/Exo20-Regular.woff') format('woff'),
  url('/cabinet/fonts/Exo20-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url('/cabinet/fonts/MyriadProRegular.eot'),
  url('/cabinet/fonts/MyriadProRegular.eot?#iefix') format('embedded-opentype'),
  url('/cabinet/fonts/MyriadProRegular.woff') format('woff'),
  url('/cabinet/fonts/MyriadProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNova';
  src: url('/cabinet/fonts/ProximaNova-Black.eot'),
  url('/cabinet/fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
  url('/cabinet/fonts/ProximaNova-Black.woff') format('woff'),
  url('/cabinet/fonts/ProximaNova-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/cabinet/fonts/ProximaNova-Bold.eot'),
  url('/cabinet/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('/cabinet/fonts/ProximaNova-Bold.woff') format('woff'),
  url('/cabinet/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/cabinet/fonts/ProximaNova-Light.eot'),
  url('/cabinet/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('/cabinet/fonts/ProximaNova-Light.woff') format('woff'),
  url('/cabinet/fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/cabinet/fonts/ProximaNova-Regular.eot'),
  url('/cabinet/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('/cabinet/fonts/ProximaNova-Regular.woff') format('woff'),
  url('/cabinet/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/cabinet/fonts/Roboto-Regular.eot');
  src: url('/cabinet/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('/cabinet/fonts/Roboto-Regular.woff2') format('woff2'),
  url('/cabinet/fonts/Roboto-Regular.woff') format('woff'),
  url('/cabinet/fonts/Roboto-Regular.ttf') format('truetype'),
  url('/cabinet/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/cabinet/fonts/Roboto-Bold.eot');
  src: url('/cabinet/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('/cabinet/fonts/Roboto-Bold.woff2') format('woff2'),
  url('/cabinet/fonts/Roboto-Bold.woff') format('woff'),
  url('/cabinet/fonts/Roboto-Bold.ttf') format('truetype'),
  url('/cabinet/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roddenberry CYRILLIC';
  src: url('/cabinet/fonts/RoddenberryCYRILLIC.eot');
  src: url('/cabinet/fonts/RoddenberryCYRILLIC.eot?#iefix') format('embedded-opentype'),
  url('/cabinet/fonts/RoddenberryCYRILLIC.svg#RoddenberryCYRILLIC') format('svg'),
  url('/cabinet/fonts/RoddenberryCYRILLIC.ttf') format('truetype'),
  url('/cabinet/fonts/RoddenberryCYRILLIC.woff') format('woff'),
  url('/cabinet/fonts/RoddenberryCYRILLIC.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
